.navbar {
    background-color: #cc89896d;
    padding: 10px;
    height: 30px;

  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 40px;
    margin-top: 7px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #434141;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    color: #777;
  }
  